<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>MOBAppKey</key>
    <string>2e1e9b9c9ddb2</string>
    <key>MOBAppSecret</key>
    <string>12054053225c62b31b2c6d698ceb23f4</string>
</dict>
</plist>
